{% extends "app/layout.html" %}

{% block content %}





<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="col-md-2">
                <h4>Tasks</h4>
            </div>
            <div class="dropdown col-md-1 col-md-offset-9">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Interval
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="{% url 'todolist' interval='day' %}">Day</a></li>
                    <li><a href="{% url 'todolist' interval='week' %}">Week</a></li>
                    <li><a href="{% url 'todolist' interval='month' %}">Month</a></li>
                    <li><a href="{% url 'todolist' interval='year' %}">Year</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'todolist' interval='all' %}">All</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">


        <!-- Table -->
        <table id="tasks" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width:35px;">Status</th>
                    <th>Name  <span class="glyphicon glyphicon-menu-right btn-sm" aria-hidden="true"></span></th>
                    <th>Description  <span class="glyphicon glyphicon-menu-right btn-sm" aria-hidden="true"></span></th>
                    <th>Date  <span class="glyphicon glyphicon-menu-right btn-sm" aria-hidden="true"></span></th>
                    <th>Change  </th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr data-completed="{{ task.completed }}" data-name="{{ task.name }}" data-id="{{ task.id }}">
                    <td><button class="btn btn-primary btn-block" type="button"><span class="glyphicon glyphicon-minus"></span></button></td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.date|date:'SHORT_DATE_FORMAT' }}</td>
                    <td>
                        <div class="btn-group btn-group-xs" role="group">
                            <button type="button" class="btn btn-default changeTask" disabled="disabled">Change</button>
                            <button type="button" class="btn btn-default deleteTask">Delete</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <a href="{% url 'addtask' %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</a>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        $('#tasks tr').each(function () {
            if ($(this).data('completed') === 'True') success($(this))
            else notSuccess($(this));
        });



        var colDateNum = 2;
        $("#tasks").tablesorter(
            {
                headers: { colDateNum: { sorter: 'shortDate' } }
            }
        );

        $('#tasks th').click(function () {
            //Clear
            $('th').not(this).removeClass('bg-primary')
                   .children('span').removeClass('glyphicon-menu-up glyphicon-menu-down').addClass('glyphicon-menu-right');

            //Add
            $(this).addClass('bg-primary');

            if ($(this).children('span').hasClass('glyphicon-menu-down')) {
                $(this).children('span').removeClass("glyphicon-menu-down").addClass("glyphicon-menu-up");
            }
            else {
                $(this).children('span').removeClass("glyphicon-menu-up").addClass("glyphicon-menu-down");
            }
        });

        $('#tasks tbody tr td > button').click(function () {
            var task = $(this).parent().parent();
            //alert(id);
            $.post('/change-completed/', { id: task.attr('data-id') }, function (response) {
                //alert(data.name);

                if (task.data('completed') === 'False') {
                    task.data('completed', 'True');
                    success(task);
                }
                else {
                    task.data('completed', 'False');
                    notSuccess(task);
                }
                //alert('end');
            });
        });


        $('.deleteTask').click(function () {
            var message = 'Are You sure ?';
            if (confirm(message)) {
                var name = $(this).parents('tr').attr('data-name'),
                    id = $(this).parents('tr').attr('data-id');
                //post
                $.post('/deleteTask/', { id: id }, function (data) {
                    if (data.success) {
                        alert('Deleted');
                        $(this).parents('tr').remove();
                    }
                    else alert('Error');
                });
            }
        });

        function success(e) {
            e.addClass('success');

            var button = e.find('button').first();
            button.removeClass('btn-primary');
            button.addClass('btn-success');
            button.children().removeClass('glyphicon glyphicon-minus');
            button.children().addClass('glyphicon glyphicon-ok');
        }

        function notSuccess(e) {
            e.removeClass('success');

            var button = e.find('button').first();
            button.removeClass('btn-success');
            button.addClass('btn-primary');
            button.children().removeClass('glyphicon glyphicon-ok');
            button.children().addClass('glyphicon glyphicon-minus');
        }
    });

</script>

{% endblock %}
